/*Hargobind's stylessheet*/
/* *{
	border: 1px dashed #00ff00;
}*/
body {
	/*background: url(background.png) scroll repeat;*/
	font-family: Helvetica, "Arial Bold", Arial, sans-serif;
	background-color:#FFE97F;
	margin: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding: 0px;
}	
h1{
	font-size:3em;
	}
h2 {
	text-align: left;
}
ul {
	list-style: none;
	text-align: left;
}
section {
	background-color:#5678FF;
	width: 500px;
	height: 300px;
	padding: 50px;
	text-align: center;
	padding-bottom: 50px;
	display: inline-block;
}
header {
	display: inline-block;
}
h2:first-letter, h1:first-letter {
	font-size: 1.5em;
}
a {
	margin: 10px 10px 10px 0px;
}
div {
	display: inline-block;
	border: 0px;
	margin: 0px 0px 0px 0px;
}
canvas {
	margin: 100px 50px 50px 50px;
	border: 2px dashed black;
	float: right;
}
/*=============Link Syles==============*/
a:link {
	color:#000000;
	font-family: "Helvetica Neue", Helvetica, "Arial Bold", Arial;
	background-color: grey;
	text-decoration: none;
}
a:visited {
	color: #009966;
	background-color: #DEDEDE;
	font-family: "Helvetica Neue", Helvetica, "Arial Bold", Arial
}
a:hover {
	background-color: #666;
	color: grey;
	font-family: "Helvetica Neue", Helvetica, "Arial Bold", Arial;
	text-decoration: none;
}
/*=========ID's=========*/
#home {
	background-color: #19FF00;
	width: 600px;
	height: 25px;
	/*color: hlsa(120, 75%, 75%, .2);*/
	float: left;
}
#externalLinks {
	text-align: right;
	font-size: 0.75em;
	padding: 5px;
	text-align: right;
	float: right;
}

/*===============class's==============*/

.center{
	text-align: center;
}
.green {
	background-color: #19FF00;
	clear: left;
}
.pink {
	background-color: #FF008C;
}
.blue {
	background-color: #0072FF;
}
.purple {
	background-color: #FF00FA;
}
.container {
	width: 400px;
	height: 100px;
}
.square {
	width: 100px;
	height: 100px;
	float: left;
}